.Banner {
    color: var(--tg-theme-text-color);
    margin-bottom: 10px;
}
.Banner:last-child {
    margin: 0;
}

.Banner__in {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    padding: 12px;
    background-color: var(--tg-theme-section-bg-color);
    border-radius: var(--mc-border-radius);
    overflow: hidden;
}

/*.Banner__in::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    inset-inline-start: 0;*/
/*    inset-block-start: 0;*/
/*    display: block;*/
/*    inline-size: 100%;*/
/*    block-size: 100%;*/
/*    border: var(--vkui--size_border--regular) solid var(--vkui--color_image_border_alpha);*/
/*    border-radius: inherit;*/
/*    pointer-events: none;*/
/*    box-sizing: border-box;*/
/*    z-index: var(--vkui_internal--z_index_banner_content);*/
/*}*/

/*.Banner__before {*/
/*    position: relative;*/
/*    margin-inline-end: 12px;*/
/*    z-index: var(--vkui_internal--z_index_banner_content);*/
/*}*/

.Banner__content {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 10;
}

.Banner__subheader,
.Banner__text {
    color: var(--tg-theme-subtitle-text-color);
}

.Banner__bg {
    position: absolute;
    top: 0;
    left: 0;
}

/* stylelint-disable-next-line selector-max-universal */
.Banner__bg,
.Banner__bg > * {
    inline-size: 100%;
    block-size: 100%;
}

.Banner__actions {
    cursor: pointer;
    margin-top: 2px;
    font-size: 14px;
}

.Banner__subheader:not(:first-child),
.Banner__text:not(:first-child) {
    margin-block-start: 2px;
}

/**
 * Mode "image"
 */
.Banner--mode-image .Banner__in {
    background-color: var(--tg-theme-section-bg-color);
}

.Banner--inverted .Banner__dismiss,
.Banner--inverted .Banner__expand,
.Banner--inverted {
    color: var(--tg--color_text_contrast);
}

.Banner--inverted .Banner__subheader {
    color: var(--tg--color_text_contrast);
    opacity: 0.72;
}
